ORIGIN=https://indiko.dunkirk.sh
RP_ID=indiko.dunkirk.sh
PORT=3000
NODE_ENV="production"
DATABASE_URL=data/indiko.db

# LDAP Configuration (optional)
LDAP_ENABLED=false
LDAP_URL=ldap://localhost:389
LDAP_ADMIN_DN=cn=admin,dc=example,dc=com
LDAP_ADMIN_PASSWORD=your_admin_password
LDAP_USER_SEARCH_BASE=dc=example,dc=com
LDAP_USERNAME_ATTRIBUTE=uid
LDAP_ORPHAN_ACTION=false

# LDAP Group verification (optional)
LDAP_GROUP_DN=cn=allowed-users,ou=groups,dc=example,dc=com
LDAP_GROUP_CLASS=groupOfUniqueNames
LDAP_GROUP_MEMBER_ATTRIBUTE=uniqueMember
